<div class="big__card__container">
    <div class="big__card__photo">
        <img 
            src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ffiverr-res.cloudinary.com%2Fimages%2Fq_auto%2Cf_auto%2Fgigs%2F248810039%2Foriginal%2Fba4d7401195eea459f418e97cfa44d2c75c4df5d%2Fupdate-your-angular-web-application-to-the-latest-version.png&imgrefurl=https%3A%2F%2Fwww.fiverr.com%2Fmuzaffarqosimov%2Fupdate-your-angular-web-application-to-the-latest-version&tbnid=bddUUJ2BRW7gaM&vet=12ahUKEwj318yprYj9AhV_M7kGHXa6D1kQMyhWegUIARCYAQ..i&docid=z8TlQAIuV2h-wM&w=4000&h=3000&itg=1&q=angular%20update&ved=2ahUKEwj318yprYj9AhV_M7kGHXa6D1kQMyhWegUIARCYAQ"
            alt=""
            srcset=""
        >
    </div>
    
    <div class="big__card__title">
        <h1><a href="#">Saiu a nova atualização do Angular</a></h1>
    </div>

    <div class="big__card__description">
        <p>
            <a href="#">
                description
            </a>
        </p>
    </div>

</div>
