<div class="small__card__container">
    <div class="small__card__container__content">
        <div class="small__card__photo">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQigMppkwE-stofiE5nE86v2QO0DJ-bxMlY_w&usqp=CAU"
                alt=""
                srcset=""
            >
        </div>
        
        <div class="small__card__title">
            <h1><a href="#">a a a</a></h1>
        </div>
    </div>

    <div class="small__card__container__separator">
        <hr>
    </div>
</div>
