<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://images.thedirect.com/media/article_full/black-panther-wakanda-forever-tenoch-huerta-namor-mcu-marvel-costume.jpg"
            cardTitle="Quem é Namor ?"
            cardDescription="Um dos grandes anti-herois da marvel studios...">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM6MEaUNIC8tCtx7Ul_5Quq64MqtAPUD9kns1vcvWnqANkMpmK-KNim2z88Q4wVC-Mx3o&usqp=CAU"
        cardTitle="Marvel divulga poster de homem-formiga:Quantumania"
        >
        </app-small-card>
        
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM6MEaUNIC8tCtx7Ul_5Quq64MqtAPUD9kns1vcvWnqANkMpmK-KNim2z88Q4wVC-Mx3o&usqp=CAU"
        cardTitle="Marvel divulga poster de homem-formiga:Quantumania"
        >
        </app-small-card> <!--mudar imagens e textos-->

        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM6MEaUNIC8tCtx7Ul_5Quq64MqtAPUD9kns1vcvWnqANkMpmK-KNim2z88Q4wVC-Mx3o&usqp=CAU"
        cardTitle="Marvel divulga poster de homem-formiga:Quantumania"
        >
        </app-small-card>
    </div>


</div>